@charset "utf-8";
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}
div,
header,
nav,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
figure,
figcaption,
class,
img {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
main {
  overflow: hidden;
}
img,
object,
embed,
canvas,
video,
audio,
picture,
svg {
  max-width: 100%;
  height: auto;
}
* {
  box-sizing: border-box;
}
body,
html {
  border: 0 solid transparent;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.5s;
  position: relative;
  border: none;
  background-color: #457EFF;
}
header {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 20px 0px;
}
header div.logo {
  width: 100%;
}
header div.logo figure {
  width: 100%;
  height: 40px;
  background-image: url(../img/Fichier\ 1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#containerformregister {
  background-color: #457EFF;
  padding: 25px 0px;
  width: 100%;
  margin: 0 auto;
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#containerformregister #formregister {
  width: 80%;
  height: auto;
  text-align: center;
}
#containerformregister #formregister div.container-input {
  position: relative;
  z-index: 10;
  margin-bottom: 10px;
}
#containerformregister #formregister div.container-input input {
  width: 100%;
  height: 50px;
  border-radius: 35px;
  border: none;
  padding: 10px 10px 10px 15px;
  z-index: 50;
  color: #457EFF;
}
#containerformregister #formregister div.container-input input::placeholder {
  color: #457EFF;
}
#containerformregister #formregister div.container-input::before {
  content: "";
  background-color: #f04747;
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: -5px;
  left: -2px;
  border-radius: 35px;
  z-index: -1;
}
#containerformregister #formregister div.container-error-input {
  margin-bottom: 20px;
  color: white;
  text-align: left;
  font-size: 12px;
}
#containerformregister #Register-submit {
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 35px;
  height: 50px;
  background-color: #f04747;
  color: white;
  text-transform: uppercase;
  position: relative;
  z-index: 10;
  margin-bottom: 25px;
  font-weight: bold;
}
#containerformregister #Register-submit:hover {
  background-color: white;
  color: #f04747;
}
#containerformregister .btn-register {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  display: block;
  border-radius: 35px;
  line-height: 45px;
  text-decoration: none;
  margin-top: 50px;
}
#containerformregister .btn-login {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  display: block;
  border-radius: 35px;
  line-height: 45px;
  text-decoration: none;
}
.testcaptcha {
  margin-bottom: 25px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  #containerformregister #formregister {
    width: 60%;
  }
}
@media screen and (min-width: 1440px) {
  #containerformregister #formregister {
    width: 30%;
  }
}
